/* -------------- This code was made with love by youssef Lahbari --------------- */
/* ------ General hacks ------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
.logo{
  background-image: url(../images/Coat-of-arms-of-Morocco-01.png);
  background-size: 100%;
  padding: 25px;
}
.logo-txt{
  color: #333;
  position: fixed;
  left: 180px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
ul{
  list-style: none;
}
/* ------------ 1- Navigation Bar ------------ */
/* the only thing in this website that's not 100% mine, 
 check souce here: https://www.youtube.com/watch?v=bk3Y4heVdFs */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.1);
    padding: 0px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
    color: #333;
    display: block;
}
header .navbar ul li a:hover{
    background: #333;
    color: #fff;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
  display: none;
}
header .menu {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}
/* 4-footer */
footer{
    background-image: url(../images/islamic-new-year-pattern-background.jpg);
    background-size:contain;
    height: 200px;
  }
  .fot-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; 
  }
  .fot-sub{
    color:#333;
    text-shadow:0 2px 2px rgba(0,0,0,.25);
  }
  .fot-links{
    text-align: start;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
  }
  .cities-top{
    width: fit-content;
    text-align: center;
  }
  .food-top{
    width: fit-content;
    text-align: center;
  }
  .contact{
    width: fit-content;
    text-align: center;
  }
  .fot-title{
    margin-bottom: 10px;
    color: #333;
    font-size:2vw;
    text-align: center;
    font-weight:900;
    font-family:'Courier New', Courier, monospace;
    text-shadow:0 2px 2px rgba(0,0,0,.25);
  }
  .space{
    padding: 3px;
  }
  .fot-text{
    color: #333;
    font-size:1.5vw;
    text-align: center;
    text-shadow:0 2px 2px rgba(0,0,0,.25);
  }
  .fot-text:hover{
    color:gray;
  }
  /* Blog page */
  .vis-container{
    background: url(../images/3392075.jpg);
    background-size: contain;
    position: relative;
    padding-top: 90px;
    padding-bottom: 110px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    border-radius: 25px;
  }
  .articles{
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    border-radius: 25px;
    width: 65%;
    
  }
  .article{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 35px;
  }
  .art-title{
    color:rgba(0, 0, 0, .95);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 3vw;
    margin: 5px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
  }
  .art-text{
    margin: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    text-align: justify;
    color:rgba(0, 0, 0, .95);
    padding: 15px;
  }
  .navigation{
    width: 25%;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
  }
  .nav-side{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav-side-c{
    padding: 10px;
    border-radius: 25px;
    border:1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    margin: 15px;
    transition: 1s;
  }
  .nav-side-c:hover{
    transform: translateY(5px);
  }
  .nav-link{
    color:rgba(0, 0, 0, .95);
  }
  .nav-link:hover{
    color:#333;
  }
  .ads-container{
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ads{
    background-color:white;
    margin: 35px;
    border-radius: 25px;
    border:1px solid rgba(0, 0, 0, .1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    height: 40%;
  }
  .text-ads{
    position: relative;
    top: 50%;
    left: 40%;
  }
  /* Responsive design */
@media screen and (max-width:991px) {
  header{
    padding: 20px;
  }
  header .menu {
    display: inline;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0,.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul{
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li{
    background-color: #eee;
  }
  header .navbar ul li ul li ul{
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar{
    display: initial;
  }
  .logo-txt{
    display: none;
  }
  .navigation{
    display: none;
  }
  .articles{
    width: 80%;
  }
  .fot-text{
    font-size:2vw;
  }
  .fot-sub{
    font-size:3.3vw;
  }
}
@media screen and (max-width:500px) {
  .fot-text{
    font-size:2vw;
  }
  .fot-sub{
    font-size:3.3vw;
  }
}